<div class="container-cards">
    <div class="card">
        <div class="title">
            <h2>Javascript</h2>
            <span>Crie a WEB!</span>
        </div>
        <div class="descrition">
            <p>Construa sites interativos e jogos incríveis. JavaScript faz a web ganhar vida.</p>
        </div>
        <button class="btn">Vamos codificar!</button>
    </div>
    <div class="card">
        <div class="title">
            <h2>Python</h2>
            <span>Comece Fácil</span>
        </div>
        <div class="description">
            <p>A linguagem perfeita para iniciantes. Crie chatbots, sites e explore a IA.</p>
        </div>
        <button class="btn"> Vamos codificar!</button>
    </div>
    <div class="card">
        <div class="title">
            <h2>Ruby</h2>
            <span>Elegância na Programação!</span>
        </div>
        <div class="description">
            <p>Crie projetos bonitos e funcionais. Ruby torna a programação uma arte.</p>
        </div>
        <button class="btn"> Vamos codificar!</button>
    </div>
</div>