
<h2>{{this.nome}}</h2>
<p>{{this.descricao}}</p>
<p class="preco">R$ {{this.preco}}</p>
<div class="btns">
    <button class="btn">Comprar</button>
    <a class="btn btn-detalhes" name="{{this.nome}}">Detalhes</a>
</div>
