<div class="container">
    <div class="title-container">
        <h2>Bem vindo à nossa loja de linguagens de programação!</h2>
    </div>
    <div class="description">
        <p>Explore nossa seleção de linguagens de programação de primeira linha. Se você é um iniciante ansioso para
            aprender ou um desenvolvedor experiente em busca de desafios emocionantes, temos algo para todos. Comece
            sua jornada de codificação conosco hoje!</p>
    </div>
</div>

<div class="container">
    <div class="title-container">
        <h2>Por que Escolher Nossas Linguagens de Programação?</h2>
        <span>Qualidade Superior e Suporte Especializado</span>
    </div>
    <div class="description">
        <p>Nossas linguagens de programação são escolhidas a dedo para oferecer a melhor experiência de codificação.
            Além disso, nossa equipe de especialistas está aqui para ajudar você em cada etapa do caminho. Entre em
            contato conosco para obter suporte personalizado.</p>
    </div>
</div>

<div class="container">
    <div class="title-container">
        <h2>Aprimore Suas Habilidades de Desenvolvimento</h2>
        <span>Desenvolva Seu Potencial</span>
    </div>
    <div class="description">
        <p>Aprender uma nova linguagem de programação é uma maneira poderosa de expandir seu conjunto de habilidades.
            Com nossos recursos educacionais e tutoriais, você pode aprimorar suas habilidades de desenvolvimento e se
            destacar no mundo da tecnologia.</p>
    </div>
</div>

<div class="container">
    <div class="title-container">
        <h2>Encontre a Linguagem Certa para Você</h2>
        <span>Escolha a Sua Linguagem</span>
    </div>
    <div class="description">
        <p>Navegue por nossa variedade de linguagens de programação e encontre a que mais se adapta às suas necessidades
            e interesses. Desde linguagens populares até aquelas menos conhecidas, oferecemos opções para todos os
            níveis e projetos.</p>
    </div>
</div>