<div class="container-sliders">
    <div class="slide">
        <img src="/img/css.jpg" alt="">
        <img src="/img/homem_programando.jpg" alt="">
        <img src="/img/mulher_programando.jpg" alt="">
    </div>
</div>