<div class="container-sliders">
    <div class="slider">
        <img src="/img/css.jpg" alt="">
    </div>
    <div class="slider">
        <img src="/img/homem_programando.jpg" alt="">
    </div>
    <div class="slider">
        <img src="/img/mulher_programando.jpg" alt="">
    </div>
</div>