<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <title>Budega_dev</title>
</head>
<body>
    <nav class="container-menu">
        <menu>
            <a href="/">Home</a>
            <a href="">Loja</a>
            <a href="">Sobre nós</a>
            <a href="">Contato</a>
        </menu>
    </nav>

    {{{body}}}
</body>
</html>