<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <script defer src="/js/sliders.js"></script>

    <title>Budega_dev</title>
</head>

<body>
    <menu class="container-menu">
        <div>
            <h1><a class="title" href="/">Budega_dev</a></h1>
            <nav class="container-links-nav">
                <a href="/">Home</a>
                <a href="">Loja</a>
                <a href="">Sobre</a>
                <a href="">Contato</a>
            </nav>
        </div>
    </menu>

    {{{body}}}


    <footer class="rodape">
        <p>Desenvolvido por Renan Ferreira</p>
        <a href="https://github.com/meiotera" target="_blank"><i class="fab fa-github"></i> Visite meu GitHub</a>

    </footer>
</body>

</html>