<main>
    <div class="produtos">
        {{#each produtos}}
        <div class="card-produto">
            {{> card_produto}}
            <div class="btns">
                <button class="btn">Comprar</button>
                <button class="btn btn-detalhes">Detalhes</button>
            </div>
        </div>
        {{/each}}
    </div>
</main>