<main>
    <div class="produtos">
        {{#each produtos}}
        <div class="card-produto">
            {{> card_produto}}
            <button class="btn">Comprar</button>
        </div>
        {{/each}}
    </div>
</main>