/* Estilos base */
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main {   
    max-width: 1440px;
    margin: 20px auto;    
    overflow: hidden;
}

.container-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: white;
}

.container-menu .container-links-nav {
    display: flex;
    height: 100%;
    background-color: rgb(135, 4, 175);
}

.container-menu .container-links-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    width: 100px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.container-menu .container-links-nav a:hover {
    background-color: rgb(105, 2, 136);
}

.title {
    font-size: 2.5em;
}

.container-sliders {
    min-width: 100%;
    display: flex;
    height: 750px;
    transition: .5s ease-in-out ;
}

.container-sliders .slider {
    min-width: 100%;
}

.container-sliders .slider img{
    width: 100%;
}
