/* Estilos base */
body {
    background-color: #ececec;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {   
    max-width: 1440px;
    margin: 20px auto;    
    overflow: hidden;
    
}
.container-menu {
    width: 100%;
    background-color: white;
}

.container-menu div {
    max-width: 1440px;
    margin: 0 auto;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.container-menu .container-links-nav {
    display: flex;
    height: 100%;
    background-color: rgb(135, 4, 175);
}

.container-menu .container-links-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    width: 100px;
    color: white;
    font-size: 1em;
    font-weight: bold;
    transition: .2s ease-in-out;
    text-decoration: none;
}

.container-menu .container-links-nav a:hover {
    background-color: rgb(105, 2, 136);
}

.title {
    font-size: 2.5em;
}

.container-sliders {
    min-width: 100%;
    display: flex;
    height: 700px;
    transition: 1s ease-in-out;
    position: relative;
    z-index: 1;
}

.container-sliders .slider {
    min-width: 100%;
    padding: 0 20px;
}

.container-sliders .slider img{
    width: 100%;
    height: 100%;
}
.container-cards {
    padding: 20px;
    margin-top: -150px;
    display: flex;
    position: relative;
    z-index: 2;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card .title {
    margin-bottom: 20px;
}

.card .title h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.card .title span {
    color: #777;
    font-size: 18px;
}

.card .description {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

.card .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(105, 2, 136);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color: rgba(105, 2, 136, 0.788);
}


/*main*/

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/* Estilos para .main */
/* Estilos para os elementos compartilhados */
/* Estilos para os elementos compartilhados */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff; /* Adiciona um fundo branco para separar do restante da página */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 550px;
    height: 350px;
    box-shadow: 10px 15px 40px;
    
}

.title-container {
    text-align: center;
    margin-bottom: 20px;
}

.title-container h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: rgb(105, 2, 136); /* Cor do título */
}

.title-container span {
    font-size: 1.2em;
    color: #777; /* Cor do subtítulo */
}

.description {
    font-size: 1.1em;
    color: #555; /* Cor do texto de descrição */
    line-height: 1.5;
}
